layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="compact-bar"
    }
    children
  }

  tab name=" Bun" {
    pane name=" Neovim" size="80%" command="nvim"
    pane {
      command "bun"
      args     "--hot" "."
    }
  }
}
