layout {
  default_tab_template {
      pane size=1 borderless=true {
          plugin location="zellij:tab-bar"
      }
      children
      pane size=1 borderless=true {
          plugin location="zellij:status-bar"
      }
  }

  tab split_direction="vertical" cwd="~/git/github.com/tadashi-aikawa" {
    pane name="🍏Toki status" cwd="toki" command="git" {
      args "status"
    }
    pane name="🔴Carnelian status" cwd="carnelian" command="git" {
      args "status"
    }
    pane name="🔄Another Quick Switcher status" cwd="obsidian-another-quick-switcher" command="git" {
      args "status"
    }
  }
}
