layout {
  tab {
    pane split_direction="vertical" {
      pane name="Toki status" cwd="~/git/github.com/tadashi-aikawa/toki" command="zsh" close_on_exit=false {
        args "-c" "git status"
      }
      pane name="Carnelian status" cwd="~/git/github.com/tadashi-aikawa/carnelian" command="zsh" close_on_exit=false {
        args "-c" "git status"
      }
      pane name="Another Quick Switcher status" cwd="~/git/github.com/tadashi-aikawa/obsidian-another-quick-switcher/" command="zsh" close_on_exit=false {
        args "-c" "git status"
      }
    }
  }
}
