layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="compact-bar"
    }
    children
  }

  tab name="⌨️ Karabiner" cwd="~/git/github.com/tadashi-aikawa/toki/karabiner/" {
    pane {
      pane name=" Neovim" size="80%" command="nvim" {
        args "-c" "e index.ts" "-c" "NoNeckPain" 
      } 
      pane command="deno" {
          args "task" "dev"
      }
    }  
  }
}
