layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="compact-bar"
    }
    children
  }

  tab name=" CSS" {
    pane name=" Neovim" cwd="~/git/github.com/tadashi-aikawa/toki/" {
      command "zsh"
      args    "-c" "nvim -O ~/work/minerva/publish.css mnt/obsidian/.obsidian/snippets/owl.css -c NoNeckPain"
    } 
  }

  tab name=" JS" {
    pane name=" publish.js" cwd="~/work/minerva/" {
      command "nvim"
      args    "-c" "e publish.js" "-c" "NoNeckPain" 
    } 
  }
}
