layout {
  default_tab_template {
      pane size=1 borderless=true {
          plugin location="zellij:tab-bar"
      }
      children
      pane size=1 borderless=true {
          plugin location="zellij:status-bar"
      }
  }

  tab cwd="~/git/github.com/tadashi-aikawa" {
    pane {
      pane name=" Neovim update" command="zsh" {
        args "-c" "nvim -c ':lua require(\"lazy\").sync()'"
      }

      pane split_direction="vertical" {
        pane name="🍏Toki update" cwd="toki" command="zsh" {
          args "-c" "git pull && ./provision.sh"
        }
        pane name="🔴Carnelian update" cwd="carnelian" command="git" {
          args "pull"
        }
      }
    }
  }
}
